:root{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    --background-header: #3A397B;
    --background-main: #1E1D57;
    --background-footer: #171645;
    --font-main: #ffffff;
    --background-card: #9a98ff;
}
/* Mobile version has issues with overflow to the scroll bar, to be fixed later */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-header);
    padding: 10px 20px;

  }
  
  header img {
    height: 50px; 
    width: auto;
    transition: 0.2s;
  }
  header img:hover{
    box-shadow: 0px 0px 30px var(--background-footer);
  }
  
  header nav {
    position: absolute;
    top: 70px;           
    right: 0;
    background-color: #333;
    display: none;
    flex-direction: column;
    gap: 20px;  
    padding: 10px 20px;
    transform: translateX(100%); 
    transition: transform 0.0s;
  }
  
  header nav a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
  }
  header nav a:hover{
    color: var(--background-card);
  }
  
  .mygtukas {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .mygtukas img {
    width: 30px;  
    height: auto;
  }
  
  header nav.open {
    transform: translateX(0);
    display: flex;
  }

#forSale {
    padding: 20px 0px;
    min-height: 600px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    
    gap: 20px;
    padding: 20px;
}

.card {
    background: #e0dfdf;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 2px 2px 10px #0000001a;

    flex-shrink: 0;
    transition: 0.4s;
}
.card:hover{
    box-shadow: 0px 3px 20px var(--background-card);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.card h3 {
    font-size: 18px;
    margin: 5px 0;
    color: #171645;
}

.card h2 {
    font-size: 20px;
    color: #404acf;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card button {
    background-color: #261b8b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;

    transition: linear 0.2s;
}

.card button:hover {
    background-color: #0256a1;
}

/*komentaraaaas*/


.headerAboutUs{
    display: flex;
    justify-content: center;

    /* max-width: 575px; */

    background-color: var(--background-header);
    color: var(--font-main);

    padding: 10px;

}
.mainAboutUs{
    display: flex;
    align-content: center;
    flex-flow: column;
    gap: 50px;

    /* min-height: 800px; */

    /* max-width: 575px; */
    padding: 10px;

    background-color: var(--background-main);
    color: var(--font-main);

    > .returnToMainPage{
        > p > a{
            font-size: 30px;
            padding: 15px;
            color: var(--font-main);
            text-decoration: none;
            border: 5px solid var(--font-main);
            border-radius: 10px;
            background-color: var(--background-footer);
        }
        > p > a:hover{
            background-color: var(--background-card);
        }
        
        display: flex;
        margin: 50px;
        justify-content: center;
    }
}
.footerAboutUs{
    background-color: var(--background-footer);
    color: var(--font-main) ;

    /* max-width: 575px; */
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > h3 {
        display: block;
        justify-content: center;
    }
}
.footerLinksAboutUs{
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
    

    > a{
        color: var(--font-main);
        text-decoration: none;
    }
}
body{
     margin: 0;
}

/* footer */
#footerLinks{
    background-color: var(--background-footer);
    color: var(--font-main);

    height: 100px;
    width: 100%;
    
    > div{
        height: 100%;
        padding: 0px 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        > .socialContacts{
            display: flex;
            gap: 10px;
        }
    }
    a{
        color: var(--font-main);
        font-size: 25px;
        transition: linear 0.2s;
        text-decoration: none;
    }
    a:hover{
        color: var(--background-card);
    }
    a:active{
        color: var(--background-header);
    }
    span{
        font-size: 18px;
    }
}
/* Main */
main{
    background-color: var(--background-main);
    color: var(--font-main);

    /* min-height: 100vh; */

    #hero{
        background-color: var(--background-card);
        color: var(--background-footer);
        padding: 20px 50px;

        display: flex;
        justify-content: space-between;
        gap: 50px;
        overflow: hidden;

        > div{
            align-self: center;
            > h2{
                font-size: 30px;
            }
            > p{
                font-size: 16px;
            }
            > img{
                height: 200px;
                width: 200px;
                object-fit: cover;
                border-radius: 10px;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

/* Modalas */
dialog{
    max-width: 90%;
    height: fit-content;
    border: none;
    border-radius: 15px;
    background-color: var(--font-main);

    display: flex;
    justify-content: center;
    align-items: center;

    > div{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        > h2, h3, p{
            margin: 0;
        }
        > h3{
            font-size: 22px;
            color: var(--background-main);
        }
        > h2{
            font-size: 18px;
            color: var(--background-card);
        }
        > p{
            margin: 0 auto;
            font-size: 14px;
            color: var(--background-footer);
            padding: 10px 0px;
        }
        > img{
            width: 400px;
            border-radius: 10px;
            max-height: 400px;
            object-fit: cover;
        }
        > form{
            display: grid;
            grid-template: 1fr 1fr / 4fr 1fr;
            
            > label{
                grid-area: 1 / 1 / 2 / 3;
                text-align: center;
                font-size: 14px;
                color: var(--background-footer);
            }
            > input{
                padding: 5px 10px;
                width: 100%;
                font-size: 14px;
                border: none;
                background-color: var(--background-card);
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                transition: linear 0.2s;
            }
            > #email{
                background-color: #f0f0f0;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            > #email:hover{
                cursor: text;
                background-color: #e3e3e3;
                color: black;
            }
            > #email:focus{
                outline: none;
                border: none;
                
            }
            > input:hover{
                cursor: pointer;
                background-color: var(--background-header);
                color: var(--font-main);
            }
        }
        > button{
            padding: 5px 10px;
            font-size: 14px;
            border: none;
            background-color: var(--background-card);
            border-radius: 5px;
            transition: linear 0.2s;
        }
        > button:hover{
            cursor: pointer;
            background-color: var(--background-header);
            color: var(--font-main);
        }
    }
    .confirmModal{
        /* min-width: 400px; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        > h2{
            color: var(--background-footer);
            font-size: 26px;
            text-align: center;
        }
        > input{
            padding: 5px 10px;
            font-size: 18px;
            border: none;
            background-color: var(--background-card);
            border-radius: 5px;
            transition: linear 0.2s;
        }
        > input:hover{
            cursor: pointer;
            background-color: var(--background-header);
            color: var(--font-main);
        }
    }
}
dialog:-internal-dialog-in-top-layer::backdrop{
    background: #00000099;
}

/* Tablet/desktop */
@media (min-width: 769px){
    #footerLinks{
        height: 80px;
        a{
            font-size: 20px;
        }
        span{
            font-size: 14px;
        }
    }
    #hero{
        gap: 100px;
        .heroDiv{
            > h2{
                font-size: 40px;
            }
            > p{
                font-size: 18px;
            }
        }
        .heroPhoto{
            > img{
                height: 400px;
                width: 400px;
                object-fit: cover;
            }
        }
    }
    #forSale{
        margin: 0px 20px;
    }
    #container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 0px ;
        overflow: unset;
        width: 100%;
    }
    .card {
        background: rgb(224, 223, 223);
        border-radius: 10px;
        padding: 15px;
        width: 250px;
        text-align: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
    .headerAboutUs{
        padding: 50px 200px ;
        max-width: none;
    }
    .mainAboutUs{
        padding: 20px 50px ;
        max-width: fit-content;
    }
    .footerAboutUs{
        padding: 50px 200px ;
        max-width: none;
    }
    .mygtukas {
        display: none;
    }
    
    header nav {
        display: flex;
        flex-direction: row;
        position: static;
        transform: none;
        background-color: transparent;
        gap: 40px; 
        padding: 0;
    }
}
