:root{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    --background-header: #3A397B;
    --background-main: #1E1D57;
    --background-footer: #171645;
    --font-main: #ffffff;
    --background-card: #9a98ff;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: rgb(224, 223, 223);
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.card h3 {
    font-size: 18px;
    margin: 5px 0;
    color: #171645;
}

.card h2 {
    font-size: 20px;
    color: #3A397B;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card button {
    background-color: #171645;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.card button:hover {
    background-color: #0256a1;
}
